In [3]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: six>=1.5 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

WARNING: You are using pip version 22.0.4; however, version 25.0 is available.
You should consider upgrading via the 'C:\Users\ashpi\DataEngMain\projects\basics\pr-venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [4]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ashpi\dataengmain\projects\basics\pr-venv\lib\site-packages (from scikit-learn) (1.4.2)

WARNING: You are using pip version 22.0.4; however, version 25.0 is available.
You should consider upgrading via the 'C:\Users\ashpi\DataEngMain\projects\basics\pr-venv\Scripts\python.exe -m pip install --upgrade pip' command.

## imports

In [2]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

## numpy udemy

In [3]:
# similar to range function in normal python
print(np.arange(1,11,2))                         #<-- one dimensional array
print('_______ Two dimensional matrix __________________')
lst = [i for i in 'ashishkumar']
lst2= [i for i in 'dwivediakd1']

data = np.array([lst, lst, lst2])                #<-- passing list of list in array , will give 2-d array
print(data)                                      # two brackets

print('________________________CREATE SAMPLE NP ARRAYS_______________________________________________')
ones = np.ones((2,3))                              # takes no of rows and cols i tuple, put one argument will give 
ones_1d = np.ones(5)                               # 1d array
print(ones_1d)
print(ones)

np.random.randint(1,10,5)            # 5 is no of elements that i want to generate randomly

[1 3 5 7 9]
_______ Two dimensional matrix __________________
[['a' 's' 'h' 'i' 's' 'h' 'k' 'u' 'm' 'a' 'r']
 ['a' 's' 'h' 'i' 's' 'h' 'k' 'u' 'm' 'a' 'r']
 ['d' 'w' 'i' 'v' 'e' 'd' 'i' 'a' 'k' 'd' '1']]
________________________CREATE SAMPLE NP ARRAYS_______________________________________________
[1. 1. 1. 1. 1.]
[[1. 1. 1.]
 [1. 1. 1.]]

array([9, 4, 6, 5, 2], dtype=int32)

In [24]:
print(data)

# to get rows use index data[0]
# to get rows use slicing  data[start_row, end_row : start_col, end_col ]
print(data[: ,(0,1,2)])
print('______________________________________________________')
df = pd.DataFrame(data, columns=['c10', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c88', 'c9', 'c10', 'c11'])
print(df)

[['a' 's' 'h' 'i' 's' 'h' 'k' 'u' 'm' 'a' 'r']
 ['a' 's' 'h' 'i' 's' 'h' 'k' 'u' 'm' 'a' 'r']
 ['d' 'w' 'i' 'v' 'e' 'd' 'i' 'a' 'k' 'd' '1']]
[['a' 's' 'h']
 ['a' 's' 'h']
 ['d' 'w' 'i']]
______________________________________________________
  c10 c2 c3 c4 c5 c6 c7 c88 c9 c10 c11
0   a  s  h  i  s  h  k   u  m   a   r
1   a  s  h  i  s  h  k   u  m   a   r
2   d  w  i  v  e  d  i   a  k   d   1

The linspace() method of the NumPy library is a useful tool to generate sequences of data points. It is also used in data visualization.
The NumPy.linspace() function returns an array of evenly spaced values within the specified interval [start, stop].

It is similar to NumPy.arange() function but instead of a step, it uses a sample number.

In [29]:
# start , stop, no of elements
print(np.linspace(1,10,30))
print('______________________________________________________')
# during analysis we can use generated np array to do some mathematical operation
print(np.square(np.linspace(1,10,10)))
print('______________________________________________________')
#other ways to genarate random array between 0 to 1
print(np.random.rand(5,5))
print('\n')
print(np.random.randn(5,5))
#to get single random between low and high
print('______________________ random integer________________________________')
print(np.random.randint(1,5))

# to get multiple nos between low and high
rand_int_ary = np.random.randint(1,100,20)
print(np.random.randint(1,100,10))
# for i in rand_int_ary:
#     print(i)
rand_int_ary[2]

[ 1.          1.31034483  1.62068966  1.93103448  2.24137931  2.55172414
  2.86206897  3.17241379  3.48275862  3.79310345  4.10344828  4.4137931
  4.72413793  5.03448276  5.34482759  5.65517241  5.96551724  6.27586207
  6.5862069   6.89655172  7.20689655  7.51724138  7.82758621  8.13793103
  8.44827586  8.75862069  9.06896552  9.37931034  9.68965517 10.        ]
______________________________________________________
[  1.   4.   9.  16.  25.  36.  49.  64.  81. 100.]
______________________________________________________
[[0.09606574 0.18001035 0.71990336 0.9495309  0.83631543]
 [0.53680916 0.07697076 0.05134272 0.05124925 0.42978621]
 [0.9776895  0.02063697 0.03057742 0.13354716 0.52509849]
 [0.37576762 0.42104623 0.64757307 0.35448597 0.83523996]
 [0.67536269 0.91683957 0.67696192 0.7520602  0.67048118]]


[[-1.39031632 -0.56837339 -0.82679044  0.1785438  -1.24390902]
 [-1.0843845  -0.66322613  1.50630689  0.33992055 -0.71205479]
 [-1.22068337 -0.84727414  1.6835646  -0.47074783 -0.64340026]
 [-1.47469778  0.96396508 -0.96040214  0.21546169  0.5478286 ]
 [-0.2409318   1.13824104 -0.31437865 -0.95340833 -0.42013824]]
______________________ random integer________________________________
2
[46 88  6  6 40 56 53 82 34 72]

np.int32(10)

In [30]:
print(rand_int_ary)
print('______________________________________________________')
print(data)
# to know the shape of an array use shape 
# shape is an attribute not function 
print('______________________________________________________')
print('shape of rand_int_ary is :', rand_int_ary.shape)
print('____________________ shape of data array __________________________________')
print('shape of data array is :', data.shape)
print('______________________________________________________')
print('max value of array is : ', rand_int_ary.max(), 'index of max value is : ',rand_int_ary.argmax())
# reshaping of array
# we can reshapre from 1d to 2d but rows * cols must be equal to no of all elements of array
print('\n')
print(rand_int_ary)
print(rand_int_ary.reshape(2,10))
print(rand_int_ary.reshape(4,5))

[26 82 10 92 75 91 19 90 72  5 93 51 30 90  5 42 96  9 54 13]
______________________________________________________
[['a' 's' 'h' 'i' 's' 'h' 'k' 'u' 'm' 'a' 'r']
 ['a' 's' 'h' 'i' 's' 'h' 'k' 'u' 'm' 'a' 'r']
 ['d' 'w' 'i' 'v' 'e' 'd' 'i' 'a' 'k' 'd' '1']]
______________________________________________________
shape of rand_int_ary is : (20,)
____________________ shape of data array __________________________________
shape of data array is : (3, 11)
______________________________________________________
max value of array is :  96 index of max value is :  16


[26 82 10 92 75 91 19 90 72  5 93 51 30 90  5 42 96  9 54 13]
[[26 82 10 92 75 91 19 90 72  5]
 [93 51 30 90  5 42 96  9 54 13]]
[[26 82 10 92 75]
 [91 19 90 72  5]
 [93 51 30 90  5]
 [42 96  9 54 13]]

# shorting numpy array

In [48]:
print(np.sort(rand_int_ary))
print(rand_int_ary.mean())
print(rand_int_ary.std())
print(np.median(rand_int_ary))

arr = [[14, 17, 12, 33, 44],   
       [15, 6, 27, 8, 19],  
       [23, 2, 54, 1, 4, ]] 
print('____________________ sorting 2D arrays________________________')
print(np.sort(arr))
print('__________________ row wise average____________________________')
print(np.mean(arr, axis=0))
print('__________________ column wise average____________________________')
print(np.mean(arr, axis=1))
print('________________ median middle value for odd nos ______________________________')
print(np.median(arr, axis= 0))
print('___________________________________________________________')
print(np.median(arr, axis= 1))

[ 5  5  9 10 13 19 26 30 42 51 54 72 75 82 90 90 91 92 93 96]
52.25
34.17583210398834
52.5
____________________ sorting 2D arrays________________________
[[12 14 17 33 44]
 [ 6  8 15 19 27]
 [ 1  2  4 23 54]]
__________________ row wise average____________________________
[17.33333333  8.33333333 31.         14.         22.33333333]
__________________ column wise average____________________________
[24.  15.  16.8]
________________ median middle value for odd nos ______________________________
[15.  6. 27.  8. 19.]
___________________________________________________________
[17. 15.  4.]

# converting numpy array to dataframe

In [10]:
print(pd.DataFrame(rand_int_ary))
print('\n')
print(pd.DataFrame(rand_int_ary.reshape(2,10)))
print('\n')
print(pd.DataFrame(rand_int_ary.reshape(4,5)))
print('\n')
print(pd.DataFrame(rand_int_ary.reshape(4,5), index=['a', 'b', 'c', 'd'], columns={'c1': 'A', 'c2': 'B', 'c3': 'C', 'c4': 'D', 'c5': 'E'}))

     0
0   90
1   57
2   80
3    9
4   62
5   84
6   71
7   84
8   46
9   22
10  83
11  25
12  20
13  66
14  15
15  73
16  11
17  92
18  25
19  89


    0   1   2   3   4   5   6   7   8   9
0  90  57  80   9  62  84  71  84  46  22
1  83  25  20  66  15  73  11  92  25  89


    0   1   2   3   4
0  90  57  80   9  62
1  84  71  84  46  22
2  83  25  20  66  15
3  73  11  92  25  89


   c1  c2  c3  c4  c5
a  90  57  80   9  62
b  84  71  84  46  22
c  83  25  20  66  15
d  73  11  92  25  89

In [53]:
# data = {'Name':['Tom', 'nick', 'krish', 'jack'],
#         'Age':[20, 21, 19]}
# above dict data will throw error due to mismatch or array
# --> ValueError: All arrays must be of the same length
data = [{'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19,24]},
        {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19,24]},
        {'Name':['Ashish', 'Piyush', 'AD', 'PD'],
        'Age':[20, 21, 19,24]},
        {'Namee':['Tom', 'nick', 'krish', 'jack'], #dataframe will insert NaN when any key is missing from dict of list
        'Age':[20, 21, 19,24]}]
df = pd.DataFrame(data)
print(df)
print('_________________ above considers all keys as col name_______________________________________________')
# data1 = {{'Name':['Tom', 'nick', 'krish', 'jack'],
#         'Age':[20, 21, 19,24]},
#         {'Name':['Tom', 'nick', 'krish', 'jack'],
#         'Age':[20, 21, 19,24]},
#         {'Name':['Ashish', 'Ramesh', 'Ram', 'AD'],
#         'Age':[20, 21, 19,24]},
#         {'Name':['Tom', 'nick', 'krish', 'jack'], 
#         'Age':[20, 21, 19,24]}}
# df = pd.DataFrame(data1)
# print(df)

                       Name               Age                     Namee
0  [Tom, nick, krish, jack]  [20, 21, 19, 24]                       NaN
1  [Tom, nick, krish, jack]  [20, 21, 19, 24]                       NaN
2  [Ashish, Piyush, AD, PD]  [20, 21, 19, 24]                       NaN
3                       NaN  [20, 21, 19, 24]  [Tom, nick, krish, jack]
_________________ above considers all keys as col name_______________________________________________

## Reading a CSV File

In [59]:

#csv_data = pd.read_csv(r'C:\Users\ashpi\DataEngMain\projects\basics\rawdata\csv\googleplaystore.csv')

#above is full path read , below is relative path
csv_data = pd.read_csv('rawdata\csv\googleplaystore.csv')
## get top 5 data
top_10 = csv_data.head(10)
print(type(csv_data))         ## once we read a csv file using pandas it generates ddatframe
print(csv_data.columns)
print('______________________________________________________________________________________________')

# to get any column data specify the index name for single column just pass col name
# to get multiple pass list of cols ['App', 'Rating']
print(top_10[['App', 'Rating']])
print('______________________________________________________________________________________________')
print('length of top 10 data frame -->', len(top_10['App']))
print('______________________________________________________________________________________________')
print(len(csv_data['Rating']))

<class 'pandas.core.frame.DataFrame'>
Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')
______________________________________________________________________________________________
                                                 App  Rating
0     Photo Editor & Candy Camera & Grid & ScrapBook     4.1
1                                Coloring book moana     3.9
2  U Launcher Lite – FREE Live Cool Themes, Hide ...     4.7
3                              Sketch - Draw & Paint     4.5
4              Pixel Draw - Number Art Coloring Book     4.3
5                         Paper flowers instructions     4.4
6            Smoke Effect Photo Maker - Smoke Editor     3.8
7                                   Infinite Painter     4.1
8                               Garden Coloring Book     4.4
9                      Kids Paint Free - Drawing Fun     4.7
______________________________________________________________________________________________
length of top 10 data frame --> 10
______________________________________________________________________________________________
10841

In [60]:
print('to check total field if having -->', csv_data.isnull().sum())

# to check if column 'current Ver' has any null values or not 
print('to check any particular column -->',csv_data['Current Ver'].isnull().sum())
print('______________________________________________________________________________________________')
# to check if any duplicates is there in any column, multiple columns can also be given
csv_data['App'].duplicated()
print('______________________________________________________________________________________________')
print(csv_data[csv_data.duplicated(keep=False)])     # keep false gives all duplicate ocurance
print('\n')

# to get unique values from a column
type(csv_data['Category'].unique())
print('______________________________________________________________________________________________')
for i in csv_data['Category'].unique():
    print(i)

to check total field if having --> App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64
to check any particular column --> 8
______________________________________________________________________________________________
______________________________________________________________________________________________
                                                   App             Category  \
164                                       Ebook Reader  BOOKS_AND_REFERENCE
192                      Docs To Go™ Free Office Suite             BUSINESS
193                                 Google My Business             BUSINESS
204                                                Box             BUSINESS
213                                ZOOM Cloud Meetings             BUSINESS
...                                                ...                  ...
8643                    Wunderlist: To-Do List & Tasks         PRODUCTIVITY
8654   TickTick: To Do List with Reminder, Day Planner         PRODUCTIVITY
8658                           ColorNote Notepad Notes         PRODUCTIVITY
10049        Airway Ex - Intubate. Anesthetize. Train.              MEDICAL
10768                                             AAFP              MEDICAL

       Rating  Reviews                Size      Installs  Type Price  \
164       4.1    85842                 37M    5,000,000+  Free     0
192       4.1   217730  Varies with device   50,000,000+  Free     0
193       4.4    70991  Varies with device    5,000,000+  Free     0
204       4.2   159872  Varies with device   10,000,000+  Free     0
213       4.4    31614                 37M   10,000,000+  Free     0
...       ...      ...                 ...           ...   ...   ...
8643      4.6   404610  Varies with device   10,000,000+  Free     0
8654      4.6    25370  Varies with device    1,000,000+  Free     0
8658      4.6  2401017  Varies with device  100,000,000+  Free     0
10049     4.3      123                 86M       10,000+  Free     0
10768     3.8       63                 24M       10,000+  Free     0

      Content Rating             Genres    Last Updated         Current Ver  \
164         Everyone  Books & Reference   June 25, 2018               5.0.6
192         Everyone           Business   April 2, 2018  Varies with device
193         Everyone           Business   July 24, 2018    2.19.0.204537701
204         Everyone           Business   July 31, 2018  Varies with device
213         Everyone           Business   July 20, 2018      4.1.28165.0716
...              ...                ...             ...                 ...
8643        Everyone       Productivity   April 6, 2018  Varies with device
8654        Everyone       Productivity  August 6, 2018  Varies with device
8658        Everyone       Productivity   June 27, 2018  Varies with device
10049       Everyone            Medical    June 1, 2018              0.6.88
10768       Everyone            Medical   June 22, 2018               2.3.1

              Android Ver
164            4.0 and up
192    Varies with device
193            4.4 and up
204    Varies with device
213            4.0 and up
...                   ...
8643   Varies with device
8654   Varies with device
8658   Varies with device
10049          5.0 and up
10768          5.0 and up

[893 rows x 13 columns]


______________________________________________________________________________________________
ART_AND_DESIGN
AUTO_AND_VEHICLES
BEAUTY
BOOKS_AND_REFERENCE
BUSINESS
COMICS
COMMUNICATION
DATING
EDUCATION
ENTERTAINMENT
EVENTS
FINANCE
FOOD_AND_DRINK
HEALTH_AND_FITNESS
HOUSE_AND_HOME
LIBRARIES_AND_DEMO
LIFESTYLE
GAME
FAMILY
MEDICAL
SOCIAL
SHOPPING
PHOTOGRAPHY
SPORTS
TRAVEL_AND_LOCAL
TOOLS
PERSONALIZATION
PRODUCTIVITY
PARENTING
WEATHER
VIDEO_PLAYERS
NEWS_AND_MAGAZINES
MAPS_AND_NAVIGATION
1.9

In [63]:
# dropping rows from dataframe which having NaN
csv_data.dropna()

# to fill values having NaN with some default value , since we can not remove whole data if a single column
# entry is null

fillna_csv_data = csv_data.fillna(4.5)
fillna_csv_data.isnull().sum()  #<-- sum of nan  values by each column
# we should always fill data based on column names , since every column has some different value
# so fill data based on column values
fill_rating = csv_data.fillna({'Rating': 4.5})
## above command only fills rating column , to add more columns we can add multiple dict column value pairs
print(fill_rating.isnull().sum())

## describe tells us about column details
print('_______________________________ category col description ______________________________________________')
print(csv_data['Category'].describe())

#Counting occurance of a value in table 
print('_______________ counting occurance of a value in a column _________________')
print(csv_data['Category'].value_counts().get('FAMILY', 0))

print((csv_data['Category'] == 'FAMILY').sum())

print('______________occurnace of each value in a column_______________')
for cat in csv_data['Category'].unique():
    print(cat , ":", csv_data['Category'].value_counts().get(cat, 0))

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64
_______________________________ category col description ______________________________________________
count      10841
unique        34
top       FAMILY
freq        1972
Name: Category, dtype: object
_______________ counting occurance of a value in a column _________________
1972
1972
______________occurnace of each value in a column_______________
ART_AND_DESIGN : 65
AUTO_AND_VEHICLES : 85
BEAUTY : 53
BOOKS_AND_REFERENCE : 231
BUSINESS : 460
COMICS : 60
COMMUNICATION : 387
DATING : 234
EDUCATION : 156
ENTERTAINMENT : 149
EVENTS : 64
FINANCE : 366
FOOD_AND_DRINK : 127
HEALTH_AND_FITNESS : 341
HOUSE_AND_HOME : 88
LIBRARIES_AND_DEMO : 85
LIFESTYLE : 382
GAME : 1144
FAMILY : 1972
MEDICAL : 463
SOCIAL : 295
SHOPPING : 260
PHOTOGRAPHY : 335
SPORTS : 384
TRAVEL_AND_LOCAL : 258
TOOLS : 843
PERSONALIZATION : 392
PRODUCTIVITY : 424
PARENTING : 60
WEATHER : 82
VIDEO_PLAYERS : 175
NEWS_AND_MAGAZINES : 283
MAPS_AND_NAVIGATION : 137
1.9 : 1

In [15]:
csv_data.tail(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [66]:
d1 = pd.DataFrame([[1,2,3], [1,2,3], ['a','b','c']])
print(d1)
print('\n')
d2 = pd.DataFrame([[1,2,3], [1,2,3], ['a','b','c']],['r1', 'r2', 'r3'], ['c1','c2','c3'])
print(d2)

# each individual row or col type of a dataframe is actually a np series
print(type(d2['c1']))
print(type(d2.loc['r1']))                   # to select from row lebel use loc
print(d2.iloc[2])                           # to select row using index  
print('_________select multiple cols pass as list of cols to df_____________')
print(d2[['c1', 'c2']])

   0  1  2
0  1  2  3
1  1  2  3
2  a  b  c


   c1 c2 c3
r1  1  2  3
r2  1  2  3
r3  a  b  c
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
c1    a
c2    b
c3    c
Name: r3, dtype: object
_________select multiple cols pass as list of cols to df_____________
   c1 c2
r1  1  2
r2  1  2
r3  a  b

In [73]:
# to   make another column with values of existing cols
print(d1[[0,1]])

d1['new_row'] = d1[0] + d1[1]

print(d1)

   0  1
0  1  2
1  1  2
2  a  b
   0  1  2 new_row
0  1  2  3       3
1  1  2  3       3
2  a  b  c      ab

## filling values with sklearn imputer

In [78]:
country_csv = pd.read_csv('rawdata\csv\country.csv')
print(country_csv)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [79]:
#check isnull from above data set
country_csv.isnull().sum()

Country      1
Age          1
Salary       1
Purchased    1
dtype: int64

In [80]:
#iloc slicing - very similar to slicing 
# df.iloc[start_row : end_row, start_col : end:col]
country_csv.iloc[:,1:2]

    Age
0  44.0
1  27.0
2  30.0
3  38.0
4  40.0
5  35.0
6   NaN
7  48.0
8  50.0
9  37.0

In [85]:
# updating age column from above date frame

#age
imp_mean = SimpleImputer(missing_values= np.nan, strategy= 'mean')
imp_mean.fit(country_csv.iloc[:,1:2])

#receiveing transformed values
country_csv.iloc[:,1:2] = imp_mean.transform(country_csv.iloc[:,1:2])

#salary
# now updated salary column with same mean strategy 
imp_mean.fit(country_csv.iloc[:,2:3])
country_csv.iloc[:,2:3] = imp_mean.transform(country_csv.iloc[:,2:3])

#country
# updating nan in categorical data using most frequent
imp_mostfreq = SimpleImputer(missing_values= np.nan, strategy='most_frequent')
country_csv.iloc[:,:1] = imp_mostfreq.fit_transform(country_csv.iloc[:,:1])

#purchased
# same strategy for purchased
country_csv.iloc[:,3:4] = imp_mostfreq.fit_transform(country_csv.iloc[:,3:4])
country_csv

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000       Yes
1    Spain  27.000000  48000.000000       Yes
2   France  30.000000  54000.000000       Yes
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [86]:
# checking if anything left as 'nan'
country_csv.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [87]:
csv_data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [88]:
csv_data.iloc[:, 2:3] = imp_mean.fit_transform(csv_data.iloc[:, 2:3])

In [24]:
# after rating is converted with nan to mean 
# lets drop some rows these are not much weightage so we can drop
csv_data = csv_data.dropna()   #<-- drops nan rows and updates the dataframe 

print(csv_data.isnull().sum())

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [90]:
# df.sample() give random samples from whole df, we shoud use instead of df.head(), df.tail() gives 5 rows
print(csv_data.sample(5))
print('______________________________df.info() gives column types  ___________________________________________')
print(csv_data.info())
print('\n')
print(country_csv.info())
print("_______________shape gives no of rows and columns __________________________")
print('no of rows and cols in country', country_csv.shape)
print('no of rows and cols in csv data dataframe ', csv_data.shape)
print('____________________df.describe()___________________________________________')
# Description: Computes summary statistics (count, mean, std, min, 25%, 50%, 75%, max) for numerical columns in DataFrame df.
print(country_csv.describe())
print(csv_data.describe())

                                                 App            Category  \
492                     eharmony - Online Dating App              DATING
1093                  Digit Save Money Automatically             FINANCE
9301                                      EF Academy  HEALTH_AND_FITNESS
3392  Colorful Glitter Neon Butterfly Keyboard Theme     PERSONALIZATION
5045  DSLR camera - Auto Focus and Blur Professional         PHOTOGRAPHY

      Rating Reviews  Size    Installs  Type Price Content Rating  \
492      3.1   31320   53M  5,000,000+  Free     0     Mature 17+
1093     4.5    8188   22M    100,000+  Free     0       Everyone
9301     5.0       4   15M         50+  Free     0       Everyone
3392     4.3    2056  9.8M    500,000+  Free     0       Everyone
5045     3.4      30  3.0M     10,000+  Free     0       Everyone

                Genres    Last Updated  Current Ver   Android Ver
492             Dating   July 30, 2018        6.6.5    4.1 and up
1093           Finance   July 31, 2018      2.29.01    4.1 and up
9301  Health & Fitness  March 23, 2018        7.7.3    4.1 and up
3392   Personalization   July 25, 2018  6.7.24.2018  4.0.3 and up
5045       Photography  April 18, 2018        5.1.2  4.0.3 and up
______________________________df.info() gives column types  ___________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        10 non-null     float64
 2   Salary     10 non-null     float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes
None
_______________shape gives no of rows and columns __________________________
no of rows and cols in country (10, 4)
no of rows and cols in csv data dataframe  (10841, 13)
____________________df.describe()___________________________________________
             Age        Salary
count  10.000000     10.000000
mean   38.777778  63777.777778
std     7.253777  11564.099406
min    27.000000  48000.000000
25%    35.500000  55000.000000
50%    38.388889  62388.888889
75%    43.000000  70750.000000
max    50.000000  83000.000000
             Rating
count  10841.000000
mean       4.193338
std        0.499557
min        1.000000
25%        4.100000
50%        4.200000
75%        4.500000
max       19.000000

In [102]:
print(country_csv)
print(country_csv.describe())
print('________________ select col from describe dataframe___________________')
print(country_csv.describe()['Age'])
print('________________ select row from describe dataframe___________________')
print(country_csv.describe().iloc[:2,:])

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000       Yes
1    Spain  27.000000  48000.000000       Yes
2   France  30.000000  54000.000000       Yes
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes
             Age        Salary
count  10.000000     10.000000
mean   38.777778  63777.777778
std     7.253777  11564.099406
min    27.000000  48000.000000
25%    35.500000  55000.000000
50%    38.388889  62388.888889
75%    43.000000  70750.000000
max    50.000000  83000.000000
________________ select col from describe dataframe___________________
count    10.000000
mean     38.777778
std       7.253777
min      27.000000
25%      35.500000
50%      38.388889
75%      43.000000
max      50.000000
Name: Age, dtype: float64
________________ select row from describe dataframe___________________
             Age        Salary
count  10.000000     10.000000
mean   38.777778  63777.777778

## Handling Missing Values 
delete the affected row | 
delete the affected columns  |
filling missing values ( using imputation methods )  |
advance imputation

In [26]:
print(csv_data.describe())
print('\n')
print(csv_data.describe)

             Rating
count  10829.000000
mean       4.192041
std        0.479038
min        1.000000
25%        4.100000
50%        4.200000
75%        4.500000
max        5.000000


<bound method NDFrame.describe of                                                      App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

         Rating Reviews                Size     Installs  Type Price  \
0      4.100000     159                 19M      10,000+  Free     0
1      3.900000     967                 14M     500,000+  Free     0
2      4.700000   87510                8.7M   5,000,000+  Free     0
3      4.500000  215644                 25M  50,000,000+  Free     0
4      4.300000     967                2.8M     100,000+  Free     0
...         ...     ...                 ...          ...   ...   ...
10836  4.500000      38                 53M       5,000+  Free     0
10837  5.000000       4                3.6M         100+  Free     0
10838  4.193338       3                9.5M       1,000+  Free     0
10839  4.500000     114  Varies with device       1,000+  Free     0
10840  4.500000  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                 1.0          4.1 and up
10838                 1.0          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10829 rows x 13 columns]>

## new data set

In [104]:
df = pd.read_csv('rawdata\csv\AB_NYC_2019.csv')
print(df.dtypes)
print('\n')
print(df.shape)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object


(48906, 16)

In [105]:
df1 = df.copy()
print(df1.isna().sum())     #  to check which columns having empty nan values

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [106]:
# here reviews per month does have int data type so we can use mean method to fill missing values
df1['reviews_per_month'].sample(10)

# first calculate the mean of column 
mean_value = df1['reviews_per_month'].mean()
df1.fillna(mean_value, inplace=True)       # be carefull while doing this command 
                                           # if column name is not specified in df the this will update whole Df
                                           # data['column_name'].fillna(data['column_name'].mean(), inplace=True)
                                           # use above

In [30]:
df1.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [31]:
# interpoltae function is way to fill nan values
df2 = df.copy()
# check nan values again
print(df2.isna().sum())

# to remove nan values from reviews per month
df2['reviews_per_month'].interpolate(inplace=True)
print('\n')
print(df2.isna().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64


id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

C:\Users\ashpi\AppData\Local\Temp\ipykernel_16640\3031390880.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['reviews_per_month'].interpolate(inplace=True)

In [32]:
df2['last_review'].fillna('not_filled',inplace=True)
print(df2.isna().sum())
print('\n')
print(df2.sample(10))

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64


             id                                               name    host_id  \
20457  16310046    Unique Bushwick one bedroom with private garden    1451269
16409  13175725                    Big Studio apt- Legal NY rental   65304194
39560  30799010            Brand new building  with Manhattan view   52053537
16255  13100305                          Spacious 1 bedroom 1 bath   72779585
8024    6182580                         Private Room In a Goodhome   10576263
4376    2952861                               Photography Location    1177497
46699  35385249               ☀SOHO☀ Sunny & Spacious ➽ Sleeps 3 ⊹     739539
34090  27016704  1 Bedroom Loft Space in the Heart of Williamsburg   16779679
25021  20034180                                      AG's palace 2  121612198
40920  31824803              Cozy and Spacious 2 bedroom Apartment  238496151

           host_name neighbourhood_group       neighbourhood  latitude  \
20457         Angelo            Brooklyn            Bushwick  40.70234
16409        Janelle            Brooklyn       East Flatbush  40.65742
39560           Inna              Queens    Long Island City  40.75317
16255        Vanessa            Brooklyn       Crown Heights  40.67702
8024   Odalys & Maya            Brooklyn       Crown Heights  40.67603
4376         Jessica            Brooklyn        Clinton Hill  40.69127
46699         Robert           Manhattan                SoHo  40.72317
34090          Chris            Brooklyn        Williamsburg  40.71171
25021          Maura            Brooklyn            Canarsie  40.64351
40920       Stephany            Brooklyn  Bedford-Stuyvesant  40.69569

       longitude        room_type  price  minimum_nights  number_of_reviews  \
20457  -73.92439  Entire home/apt    140               5                  3
16409  -73.92385  Entire home/apt     85               1                117
39560  -73.94015  Entire home/apt    200               3                  0
16255  -73.95864  Entire home/apt    105               2                  7
8024   -73.95302     Private room     58               4                  1
4376   -73.96563  Entire home/apt   4500               1                  5
46699  -74.00245  Entire home/apt    171               2                  5
34090  -73.96300  Entire home/apt    200               4                  3
25021  -73.91406     Private room     89               1                  9
40920  -73.94792  Entire home/apt    165               5                  8

      last_review  reviews_per_month  calculated_host_listings_count  \
20457  24-11-2018               0.10                               1
16409  04-06-2019               3.09                               1
39560  not_filled               0.16                               1
16255  28-04-2019               0.18                               1
8024   02-01-2016               0.02                               1
4376   29-12-2018               0.09                              11
46699  06-07-2019               5.00                               1
34090  05-10-2018               0.31                               1
25021  19-05-2019               0.38                               4
40920  16-06-2019               2.67                               1

       availability_365
20457                 7
16409                18
39560                 0
16255                32
8024                332
4376                365
46699                 8
34090                 0
25021               334
40920                81

C:\Users\ashpi\AppData\Local\Temp\ipykernel_16640\1268516539.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['last_review'].fillna('not_filled',inplace=True)

In [33]:
print(df.duplicated())
# above command gives True/False values if a row is duplicated it shows 

#sums up all True values from dataframe
print(df.duplicated().sum())  

# to get rows that are duplicated pass true values
print('\n')
# keep = false --> will give all the occurance of rows which are duplicate
# keep = first(default) --> will give last occurance of dup rows will keep first with dataframe
# keep = last

print(df[df.duplicated(keep=False)])              
print('\n')
# lets drop last occurance , keep first will keep
df.drop_duplicates(keep='first', inplace=True)

print(df.duplicated().sum())
print(df.head(10))

0        False
1        False
2        False
3        False
4        False
         ...
48901     True
48902     True
48903     True
48904     True
48905     True
Length: 48906, dtype: bool
11


         id                                              name  host_id  \
5      5099         Large Cozy 1 BR Apartment In Midtown East     7322
6      5121                                   BlissArtsSpace!     7356
7      5178                  Large Furnished Room Near B'way      8967
8      5203                Cozy Clean Guest Room - Family Apt     7490
9      5238                Cute & Cozy Lower East Side 1 bdrm     7549
10     5295                  Beautiful 1br on Upper West Side     7702
11     5441                   Central Manhattan/near Broadway     7989
12     5803    Lovely Room 1, Garden, Best Area, Legal rental     9744
13     6021  Wonderful Guest Bedroom in Manhattan for SINGLES    11528
14     6090                     West Village Nest - Superhost    11975
15     6848                  Only 2 stops to Manhattan studio    15991
48895  5099         Large Cozy 1 BR Apartment In Midtown East     7322
48896  5121                                   BlissArtsSpace!     7356
48897  5178                  Large Furnished Room Near B'way      8967
48898  5203                Cozy Clean Guest Room - Family Apt     7490
48899  5238                Cute & Cozy Lower East Side 1 bdrm     7549
48900  5295                  Beautiful 1br on Upper West Side     7702
48901  5441                   Central Manhattan/near Broadway     7989
48902  5803    Lovely Room 1, Garden, Best Area, Legal rental     9744
48903  6021  Wonderful Guest Bedroom in Manhattan for SINGLES    11528
48904  6090                     West Village Nest - Superhost    11975
48905  6848                  Only 2 stops to Manhattan studio    15991

           host_name neighbourhood_group       neighbourhood  latitude  \
5              Chris           Manhattan         Murray Hill  40.74767
6              Garon            Brooklyn  Bedford-Stuyvesant  40.68688
7           Shunichi           Manhattan      Hell's Kitchen  40.76489
8          MaryEllen           Manhattan     Upper West Side  40.80178
9                Ben           Manhattan           Chinatown  40.71344
10              Lena           Manhattan     Upper West Side  40.80316
11              Kate           Manhattan      Hell's Kitchen  40.76076
12            Laurie            Brooklyn         South Slope  40.66829
13           Claudio           Manhattan     Upper West Side  40.79826
14             Alina           Manhattan        West Village  40.73530
15     Allen & Irina            Brooklyn        Williamsburg  40.70837
48895          Chris           Manhattan         Murray Hill  40.74767
48896          Garon            Brooklyn  Bedford-Stuyvesant  40.68688
48897       Shunichi           Manhattan      Hell's Kitchen  40.76489
48898      MaryEllen           Manhattan     Upper West Side  40.80178
48899            Ben           Manhattan           Chinatown  40.71344
48900           Lena           Manhattan     Upper West Side  40.80316
48901           Kate           Manhattan      Hell's Kitchen  40.76076
48902         Laurie            Brooklyn         South Slope  40.66829
48903        Claudio           Manhattan     Upper West Side  40.79826
48904          Alina           Manhattan        West Village  40.73530
48905  Allen & Irina            Brooklyn        Williamsburg  40.70837

       longitude        room_type  price  minimum_nights  number_of_reviews  \
5      -73.97500  Entire home/apt    200               3                 74
6      -73.95596     Private room     60              45                 49
7      -73.98493     Private room     79               2                430
8      -73.96723     Private room     79               2                118
9      -73.99037  Entire home/apt    150               1                160
10     -73.96545  Entire home/apt    135               5                 53
11     -73.98867     Private room     85               2                188
12     -73.98779     Private room     89               4                167
13     -73.96113     Private room     85               2                113
14     -74.00525  Entire home/apt    120              90                 27
15     -73.95352  Entire home/apt    140               2                148
48895  -73.97500  Entire home/apt    200               3                 74
48896  -73.95596     Private room     60              45                 49
48897  -73.98493     Private room     79               2                430
48898  -73.96723     Private room     79               2                118
48899  -73.99037  Entire home/apt    150               1                160
48900  -73.96545  Entire home/apt    135               5                 53
48901  -73.98867     Private room     85               2                188
48902  -73.98779     Private room     89               4                167
48903  -73.96113     Private room     85               2                113
48904  -74.00525  Entire home/apt    120              90                 27
48905  -73.95352  Entire home/apt    140               2                148

      last_review  reviews_per_month  calculated_host_listings_count  \
5      22-06-2019               0.59                               1
6      05-10-2017               0.40                               1
7      24-06-2019               3.47                               1
8      21-07-2017               0.99                               1
9      09-06-2019               1.33                               4
10     22-06-2019               0.43                               1
11     23-06-2019               1.50                               1
12     24-06-2019               1.34                               3
13     05-07-2019               0.91                               1
14     31-10-2018               0.22                               1
15     29-06-2019               1.20                               1
48895  22-06-2019               0.59                               1
48896  05-10-2017               0.40                               1
48897  24-06-2019               3.47                               1
48898  21-07-2017               0.99                               1
48899  09-06-2019               1.33                               4
48900  22-06-2019               0.43                               1
48901  23-06-2019               1.50                               1
48902  24-06-2019               1.34                               3
48903  05-07-2019               0.91                               1
48904  31-10-2018               0.22                               1
48905  29-06-2019               1.20                               1

       availability_365
5                   129
6                     0
7                   220
8                     0
9                   188
10                    6
11                   39
12                  314
13                  333
14                    0
15                   46
48895               129
48896                 0
48897               220
48898                 0
48899               188
48900                 6
48901                39
48902               314
48903               333
48904                 0
48905                46


0
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192
5  5099         Large Cozy 1 BR Apartment In Midtown East     7322
6  5121                                   BlissArtsSpace!     7356
7  5178                  Large Furnished Room Near B'way      8967
8  5203                Cozy Clean Guest Room - Family Apt     7490
9  5238                Cute & Cozy Lower East Side 1 bdrm     7549

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0         John            Brooklyn          Kensington  40.64749  -73.97237
1     Jennifer           Manhattan             Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan              Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan         East Harlem  40.79851  -73.94399
5        Chris           Manhattan         Murray Hill  40.74767  -73.97500
6        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
7     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493
8    MaryEllen           Manhattan     Upper West Side  40.80178  -73.96723
9          Ben           Manhattan           Chinatown  40.71344  -73.99037

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  19-10-2018
1  Entire home/apt    225               1                 45  21-05-2019
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  05-07-2019
4  Entire home/apt     80              10                  9  19-11-2018
5  Entire home/apt    200               3                 74  22-06-2019
6     Private room     60              45                 49  05-10-2017
7     Private room     79               2                430  24-06-2019
8     Private room     79               2                118  21-07-2017
9  Entire home/apt    150               1                160  09-06-2019

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0
5               0.59                               1               129
6               0.40                               1                 0
7               3.47                               1               220
8               0.99                               1                 0
9               1.33                               4               188

In [34]:
# to check if any col name or set of col name having duplicates
print(df.duplicated('name').sum())
print('____________________________________________________________________________________')
print(df[df.duplicated('name', keep=False)])

998
____________________________________________________________________________________
             id                                               name    host_id  \
73        17693                    HARLEM, NEW YORK WELCOMES YOU!!      68428
123       27883                             East Village Sanctuary     120223
171       44096                                   Room with a View     190409
267       64015                       Prime East Village 1 Bedroom     146944
321       77765                               Superior @ Box House     417504
...         ...                                                ...        ...
48684  36382847                                       Comfort home  266211707
48735  36412461  Sunny, Cozy, Private Room In The Heart of Bush...  147515897
48759  36420404                                    Home Sweet Home  273656890
48791  36427922                                Home away from home  238163900
48826  36449743                                  Brooklyn's finest   66084717

                 host_name neighbourhood_group       neighbourhood  latitude  \
73         Tye And Etienne           Manhattan  Washington Heights  40.83139
123                    Jen           Manhattan        East Village  40.72245
171               Waundell               Bronx          Highbridge  40.83232
267                  David           Manhattan        East Village  40.72807
321    The Box House Hotel            Brooklyn          Greenpoint  40.73749
...                    ...                 ...                 ...       ...
48684                  Yan            Brooklyn         Sunset Park  40.64439
48735               Flávia            Brooklyn            Bushwick  40.70366
48759                Liana           Manhattan         East Harlem  40.79266
48791                 Lucy              Queens     Cambria Heights  40.68557
48826                  Tim            Brooklyn       East Flatbush  40.65170

       longitude        room_type  price  minimum_nights  number_of_reviews  \
73     -73.94095     Private room     65               2                 49
123    -73.98527  Entire home/apt    100               4                 25
171    -73.93184     Private room     40               1                219
267    -73.98594  Entire home/apt    200               3                  0
321    -73.95292     Private room    179               3                 36
...          ...              ...    ...             ...                ...
48684  -74.01816     Private room    185               1                  0
48735  -73.92728     Private room     84               3                  0
48759  -73.94740     Private room     50               1                  0
48791  -73.72731     Private room     50               3                  0
48826  -73.92580  Entire home/apt    200               3                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
73     18-06-2019               1.60                               2
123    10-12-2011               0.23                               1
171    04-07-2019               2.04                               3
267           NaN                NaN                               1
321    01-07-2019               0.36                              28
...           ...                ...                             ...
48684         NaN                NaN                               2
48735         NaN                NaN                               1
48759         NaN                NaN                               1
48791         NaN                NaN                               1
48826         NaN                NaN                               2

       availability_365
73                  336
123                   0
171                 353
267                   0
321                  79
...                 ...
48684               177
48735                28
48759                81
48791               176
48826               206

[1645 rows x 16 columns]

In [35]:
df.duplicated(['id', 'name']).sum()

# to get duplicated based on column names

np.int64(0)

## udemy  dataframes

# iteration in dataframe

In [47]:
# iteration in dataframe

# method 1 iterrows()
data = {'Item': ['Apple', 'Banana', 'Orange'],'Quantity': [10, 20, 30],'Price': [0.5, 0.3, 0.7]}
df = pd.DataFrame(data, ['a', 'b', 'c'])
print(df)
print('\n')
# Iterating over rows
for index, row in df.iterrows():
    print('index', index, 'row', row)
    # total_sales = row['Quantity'] * row['Price']
    # print(f"{row['Item']} Total Sales: ${total_sales}")

# method 2 
print('\n')
for row in df.itertuples():
    print(type(row))
    print(row)

     Item  Quantity  Price
a   Apple        10    0.5
b  Banana        20    0.3
c  Orange        30    0.7


index a row Item        Apple
Quantity       10
Price         0.5
Name: a, dtype: object
index b row Item        Banana
Quantity        20
Price          0.3
Name: b, dtype: object
index c row Item        Orange
Quantity        30
Price          0.7
Name: c, dtype: object


<class 'pandas.core.frame.Pandas'>
Pandas(Index='a', Item='Apple', Quantity=10, Price=0.5)
<class 'pandas.core.frame.Pandas'>
Pandas(Index='b', Item='Banana', Quantity=20, Price=0.3)
<class 'pandas.core.frame.Pandas'>
Pandas(Index='c', Item='Orange', Quantity=30, Price=0.7)

Using apply() - For complex row-wise transformations
The apply() method applies a function to each row or column of a DataFrame. It leverages vectorized operations, making it significantly faster than looping methods like iterrows() or itertuples(). apply() is highly versatile and optimized for performance particularly useful for complex row-wise or column-wise transformations without explicitly iterating over rows, thus saving time in large

In [49]:
data = {'Item': ['Apple', 'Banana', 'Orange'],'Quantity': [10, 20, 30],'Price': [0.5, 0.3, 0.7]}
df = pd.DataFrame(data)
# Defining a function to calculate total sales for each row
def calculate_total_sales(row):
    return f"{row['Item']} Total Sales: ${row['Quantity'] * row['Price']}"

# Applying the function row-wise
result = df.apply(calculate_total_sales, axis=1)
print('------after apply the function to each row element---------------')
print(result)
print('________________________________________________________')
for res in result:
    print(res)

------after apply the function to each row element---------------
0      Apple Total Sales: $5.0
1     Banana Total Sales: $6.0
2    Orange Total Sales: $21.0
dtype: object
________________________________________________________
Apple Total Sales: $5.0
Banana Total Sales: $6.0
Orange Total Sales: $21.0